{{new-list save="save"}}
<div class="row">
  <div class="col-xs-6 col-lg-4 answers">
    {{#each model.lists as |list|}}
    {{#link-to 'list' list.id}}<h2>{{list.author}}</h2>{{/link-to}}
    <p>{{list.question}} </p>
    <button class="btn btn-danger" {{action 'delete' list}}>Delete</button>
    {{edit-list list=list editList="editList"}}
    {{/each}}
  </div>
</div>
