{{new-list save="save"}}
<div class="row">
  <div class="col-xs-6 col-lg-4 answers">
    {{#each model as |list|}}
    <h2>{{list.author}}</h2>
    <p>{{list.question}} </p>
    <p><a class="btn btn-default" {{action 'viewDetails'}} role="button">View details &raquo;</a></p>
    <button class="btn btn-danger" {{action 'delete' list}}>Delete</button>
      <!-- {{list-tile list=list destroyList="destroyList"}} -->
    {{/each}}
  </div>
</div>
<ul>
  {{#each model.lists as |list|}}
    <li>{{#link-to 'list' list.id}}{{list.author}}{{/link-to}}</li>
  {{/each}}
</ul>
