<section id="services">
  <div class="container">
    <div class="row">
        <div class="blog-post">
          <h2 class="blog-post-title">{{model.author}}</h2>
          <p class="blog-post-meta">Date: {{model.date}}</p>
          <p>{{model.question}}</p>
        </div>

        <div class="col-xs-6 col-lg-4 answers">
          <h2>Answers: </h2>
          {{#each model.answers as |answer|}}
          <blockquote>{{answer-tile answer=answer}}</blockquote>
          {{/each}}

        </div>
      </div>
    </div>
  </section>
  {{new-answer save=save list=model}}
<!-- {{list-tile list=model destroyList="destroyList"}} -->
